# Ignore everything in the root
/*
# Un-ignore all of subtree
!.config/wpg/templates/
!.config/dunst/
!.config/gtk-3.0/
!.config/i3/
!.config/polybar/
!.config/rofi/
!.config/termite/
!Pictures/
!.bashrc
!.bash_profile
!.xprofile
!.gitignore
!README.md
!install_package_list.sh
!pkglist.txt
!update_package_list.sh


