# Ignore everything in the root
/*
# Un-ignore all of subtree
!.config/compton/compton.conf
!.config/wpg/templates/
!.config/i3/
!.config/polybar/
!.config/rofi/
!.config/termite/
!docs/
!.config/dunst/
!Picturesl/wallpapers/
!.zshrc
!.zprofile
!.zsh-themes/custom-z89.zsh-theme
!.config/Code\ -\ OSS/User/settings.json
!.gitignore
!README.md
!install_package_list.sh
!pkglist.txt
!update_package_list.sh


